/*Selector
  Property: value;
  }*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;

}

h1{
  font-size: 70;
  font-family: all;
  color: black;
  border-bottom: 3px solid red;
  width: 700px;
  box-shadow: 4px 4px 5px #888888;

}

img {
  float: left;
}

li {
  list-style: none;
  list-style-image: 50;
  display: inline-block;
  border: 8px solid red;
  padding: 5px 20px 5px 20px;
  margin: 5px;
}

p {
  font-size: 40px;
}

span {
  font-size: 2em;
}

i {
  font-size: 25px;
}

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  transition: all 2s;

}

div.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.2);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

footer{
  text-align: 400px;
}

.col {
  background-color: grey;
  border: 2px solid black;
}